html,body{
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 0 0;
    height:297mm;
    width:210mm;
	background-color: #2a2a2e;
    /* Force font size because we need to fit A4 format */
    font-size: 16px;
    line-height: 24px;
}


.section-title {
    @apply text-2xl font-semibold 
        underline underline-offset-2 decoration-sky-500 decoration-2;
}

.item-title {
    @apply text-lg font-semibold;

}

.resume-btn {
    @apply p-6 lg:px-4 lg:py-2 h-full w-max border border-white bg-blue-500 hover:bg-blue-400;
}