---
const { lang } = Astro.props;

import * as config from "../content/_config.md";

import { version } from '../../package.json';
import { useTranslations } from "../i18n/utils";
const t = useTranslations(lang);
---

<div id="pdf-btn" class=" flex items-center justify-center 
    m-4 lg:top-4 lg:right-4
    text-lg font-semibold text-white gap-3 lg:gap-1"
>
  <a
    href="/fr"
    class="resume-btn"
    >FR</a
  >
  <a
    href="/en"
    class="resume-btn"
    >EN</a
  >
  <a
    href={`/${config.frontmatter.pdfFilename[lang]}.pdf`}
    class="resume-btn"
    >{t("download")}</a
  >
  <a
    href={config.frontmatter.resume_source_code_url}
    class="resume-btn"
    target="_blank"><span>{t("source_code")}</span>
    <span class="text-xs font-mono font-extralight">{version}</span>
    </a
  >
</div>
