---
const { lang } = Astro.props

import { getLangFromUrl, useTranslations } from "../i18n/utils";
const t = useTranslations(lang);
---

<div id="pdf-btn" class="h-16 flex items-center justify-evenly absolute 
 top-4 right-4
 text-lg font-semibold text-white 
    gap-1">
    <a href="/fr" class="p-4 w-full h-full border border-white bg-blue-500 hover:bg-blue-400">FR</a>
    <a href="/en" class="p-4 w-full h-full border border-white bg-blue-500 hover:bg-blue-400">EN</a>
    <a href={`/resume_${lang}.pdf`} class="p-4 w-full h-full border border-white bg-blue-500 hover:bg-blue-400">{t('download')}</a>
    
</div>