---
import Link from "./icons/Link.astro";
import Mail from "./icons/Mail.astro";

import * as config from "../content/_config.md";
const email = config.frontmatter.email;
const website = new URL(config.frontmatter.website);
---

<div class="section-title">Contact</div>
<section class="py-2 text-lg">
  <div class="flex justify-start items-center">
    <Link class="h-4 w-4 mr-2" />
    <a href={website} target="_blank" rel="noopener noreferrer"
      >{website.hostname}
    </a>
  </div>
  <div class="flex justify-start items-center">
    <Mail class="h-4 w-4 mr-2" />
    <a href={`mailto:${email}`}>{email}</a>
  </div>
</section>
