---
const { lang } = Astro.props;
import { useTranslations } from "../i18n/utils";
const t = useTranslations(lang);
import * as hobbies_en from "../content/_hobbies_en.md";
import * as hobbies_fr from "../content/_hobbies_fr.md";
---

<section class="hobbies">
  <div class="section-title">{t("hobbies")}</div>
  <div class="items-container prose prose-sm text-xs">
    {lang == "en" ? <hobbies_en.Content /> : <hobbies_fr.Content />}
  </div>
</section>
