---
const { lang } = Astro.props;
import { useTranslations } from "../i18n/utils";
const t = useTranslations(lang);
import * as languages_en from "../content/_languages_en.md";
import * as languages_fr from "../content/_languages_fr.md";
---

<div class="section-title">{t("languages")}</div>
<section class="py-2 prose prose-sm">
  {lang == "en" ? <languages_en.Content /> : <languages_fr.Content />}
</section>
