---
const { lang } = Astro.props;
import { useTranslations } from "../i18n/utils";
const t = useTranslations(lang);

const projects =
  lang == "en"
    ? await Astro.glob("../content/projects/en/*.md")
    : await Astro.glob("../content/projects/fr/*.md");
---

<section class="projects">
  <div class="section-title">{t("projects")}</div>
  <div class="timeline items-container flex flex-col w-full h-full">
    {
      projects.map((project) => (
        <div class="timeline-item item">
          <div class="flex justify-between items-center">
            <div class="item-title leading-tight">
              {project.frontmatter.name}
            </div>
            {project.frontmatter.url_link && project.frontmatter.url_name && (
              <a
                href={project.frontmatter.url_link}
                class="font-light text-sm text-gray-700"
                target="_blank"
                rel="noopener noreferrer"
              >
                {project.frontmatter.url_name}
              </a>
            )}
          </div>
          <div class="item-content">
            <project.Content />
          </div>
        </div>
      ))
    }
  </div>
</section>
