---
const { lang } = Astro.props;
import { useTranslations } from "../i18n/utils";
const t = useTranslations(lang);
import * as skills_en from "../content/_skills_en.md";
import * as skills_fr from "../content/_skills_fr.md";
---

<section class="skills">
  <div class="section-title">{t("skills")}</div>
  <div class="items-container compact-list">
    {lang == "en" ? <skills_en.Content /> : <skills_fr.Content />}
  </div>
</section>
