---
import Contact from "./Contact.astro";
import Educations from "./Educations.astro";
import Works from "./Works.astro";
import Projects from "./Projects.astro";

const { lang } = Astro.props;
---

<div class="flex w-full h-full gap-1 py-4">
  <div class="flex basis-2/5 w-full">
    <div class="flex flex-col">
      <Contact {lang} />
      <Educations {lang} />
      <Works {lang} />
    </div>
  </div>
  <div class="flex basis-3/5 w-full h-full">
    <div class="flex flex-col px-6">
      <Projects {lang} />
    </div>
  </div>
</div>
