---
const { lang } = Astro.props;
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const t = useTranslations(lang);

const works =
  lang == "en"
    ? await Astro.glob("../content/works/en/*.md")
    : await Astro.glob("../content/works/fr/*.md");
---

<section class="works">
  <div class="section-title">{t("works")}</div>
  <div class="items-container">
    {
      works.map((work) => (
        <>
          <div class="item flex justify-between items-baseline">
            <div class="text-sm font-semibold">
              <div class="item-title list-inside">
                <span class="">{work.frontmatter.compagny_name}</span>
              </div>
            </div>
            <div class=" text-sm text-gray-700">{work.frontmatter.period}</div>
          </div>
          <div class="text-xs font-normal text-gray-700">
            {work.frontmatter.location}
          </div>
          <div class="prose prose-sm text-xs leading-tight font-light p-0 prose-ul:leading-none prose-ul:my-0 prose-p:mb-2 ">
            <work.Content />
          </div>
        </>
      ))
    }
  </div>
</section>
